.voiceUser-3nRK-K:has( [style*="179485778546524161"]){ /* dunce */
	background: url("https://tenor.com/view/dope-sad-puppy-upset-gif-4804072");
}



.voiceUser-3nRK-K:has( [style*="92258383519817728"]){ /* Hearty */
	background: url("https://cdn.discordapp.com/banners/92258383519817728/a_1b5c12f393c94c0d1d1a5efcba9ba7f0.gif");
}
.voiceUser-3nRK-K:has( [style*="249882528570146817"]){ /* 93_Dwarves */
	background: url("https://media.tenor.com/E20uu6HgaAQAAAAd/nicholas-cage-funny.gif");
}
.voiceUser-3nRK-K:has( [style*="1088761151866818581"]){ /* MoreRNG */
	background: url("https://cdn.discordapp.com/attachments/729245824781123587/1102942670013345904/D9Rc7WScyaxmDJ4rJrcnzj.png");
}
.voiceUser-3nRK-K:has( [style*="252284396625854465"]){ /* Moiven */
	background: url("https://images.forwardcdn.com/image/970x/center/images/cropped/enhanced-17159-1423068265-32-1496265751.jpg");
}
.voiceUser-3nRK-K:has( [style*="392889726530748416"]){ /* Dawnzicle */
	background: url("https://cdn.discordapp.com/attachments/729245824781123587/1102943076370100326/desktop-wallpaper-pastel-pixel-art-cute-pixel-art-thumbnail.jpg");
}

