/**
 * @name BubblyCord Internals
 * @version 2.0.1
*/
@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/Main.css"); /* Bubbly Main Components */

@import url("https://heartlessaus.github.io/CSS-Snippets/FancyChannelCategories.css"); /* Channel Categories */
@import url("https://heartlessaus.github.io/CSS-Snippets/FancyRoleCategories.css"); /* Role Categories */
@import url("https://heartlessaus.github.io/CSS-Snippets/SneakyChatButtons.css"); /* Hidden Chat Buttons */
@import url("https://heartlessaus.github.io/CSS-Snippets/SnazzyProfilePopouts.css"); /* Profile Popouts */
@import url("https://heartlessaus.github.io/CSS-Snippets/Quotey.css"); /* Quotey */

@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css"); /* Setting icons by mwittrien */

:root {
	--mainMessage: "BubblyCord v2.0.1 -";
	--Quote: "Rounded Discord, what more can you ask for.";
	
	--radius-big: 16px; /* Outer elements radius */
	--radius-small: 8px; /* Inner elements radius */

	--catagory-radius: var(--radius-small); /* Catagory radius */
}