:root{
    --catagory-background: var(--background-primary);  /* Catagory background color */
    --catagory-radius: 6px; /* Catagory radius */
    --catagory-spacing: 12px;  /* Spacing between catagories */
    --capitalizeName: capitalize; /* Change to 'none' to remove capitalization of channel names */
    --catagoryAlignment: center; /* Channel Catagory alignment: left, right, center */
    --catagoryTitleUppercase: uppercase; /* change to 'none' to remove Uppercasing of catagory titles */
}

.members-3WRCEx .container-1oeRFJ, .membersGroup-2eiWxl{
	background: var(--catagory-background); /* set color */
}

.membersGroup-2eiWxl{ /* Role Catagory */
	text-transform: var(--catagoryTitleUppercase); /* make catagory title uppercase */
	text-align: var(--catagoryAlignment); /* center title */
	border-radius: var(--catagory-radius) var(--catagory-radius) 0px 0px; /* add border */
	margin-top: var(--catagory-spacing); /* add role gap */
    margin-left: 8px; padding-top: 12px; /* clean up formatting */
}
.members-3WRCEx .container-1oeRFJ:has(+ .membersGroup-2eiWxl), .members-3WRCEx .container-1oeRFJ:last-child{
	border-radius: 0 0 var(--catagory-radius) var(--catagory-radius) !important; /* add border */
}
