.toolbar-3_r2xA [aria-label="Threads"]{
    position: absolute !important;
    right: 264px
}
.children-3xh0VB{
    padding-right: 48px !important;
}
.toolbar-3_r2xA [aria-label="Notification Settings"]{
    margin-left: 20px
}
.search-39IXmY:has(.search-2Mwzzq.open-1F8u2c) {
    margin-left: -86px !important;
}
