@import url("https://raw.githubusercontent.com/HeartlessAUS/HeartlessAUS.github.io/main/userdb.css");

/* Read Text Easier */
.username-vAneIW{
	text-shadow: 1px 1px #000;
}
.voiceUser-3nRK-K{
	background-size: cover !important;
	border-radius: 25px;
}
