@import url("https://raw.githubusercontent.com/HeartlessAUS/CSS-Snippets/main/StickyMessages.css");

.avatarSpeaking-2pCGrZ:is([style*="392889726530748416"]),
[data-selenium-video-tile="392889726530748416"] .border-2Vy6FN.speaking-7QZEkv{ /* dawn */
    box-shadow: inset 0 0 0 2px #fa96ac ,inset 0 0 0 3px var(--background-secondary);
}

.avatarSpeaking-2pCGrZ:is([style*="92258383519817728"]),
[data-selenium-video-tile="92258383519817728"] .border-2Vy6FN.speaking-7QZEkv{ /* hearty */
    box-shadow: inset 0 0 0 2px #f56af6,inset 0 0 0 3px var(--background-secondary);
}

.avatarSpeaking-2pCGrZ:is([style*="252284396625854465"]),
[data-selenium-video-tile="252284396625854465"] .border-2Vy6FN.speaking-7QZEkv{ /* Moiven */
    box-shadow: inset 0 0 0 2px #b4995d,inset 0 0 0 3px var(--background-secondary);
}

.avatarSpeaking-2pCGrZ:is([style*="830530156048285716"]),
[data-selenium-video-tile="830530156048285716"] .border-2Vy6FN.speaking-7QZEkv{ /* Lofi */
    box-shadow: inset 0 0 0 2px #ebb43d,inset 0 0 0 3px var(--background-secondary);
}
.avatarSpeaking-2pCGrZ:is([style*="768683779505782845"]),
[data-selenium-video-tile="768683779505782845"] .border-2Vy6FN.speaking-7QZEkv{ /* Grumpy_Sushi */
    box-shadow: inset 0 0 0 2px #bf00ff,inset 0 0 0 3px var(--background-secondary);
}
