
#app-mount:has(.standardSidebarView-E9Pc3j){ /* Settings */
	--Quote: "Yur settings are mine!";
}
#app-mount:has(#customcss-tab){ /* Custom CSS */
	--Quote: "You know, I'm something of a coder myself";
}
#app-mount:has(.winButtonClose-3Q8ZH5:hover) { /* Close button */
	--Quote: "Dont close me D:" !important;
}
#app-mount:has(.chat-25x62K > [aria-label="Quotey (thread)"], .content-1jQy2l > [aria-label="Quotey (thread)"]) {
	--Quote: "You've Bamboozled yourself, Quotey is already on";
}
#app-mount:has(.bd-error-modal) {
	--Quote: "Warning, Warning, Discord explosion imminent";
}
