@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/Radius.css"); /* Bubbly Radius Changes */
@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/Colors.css"); /* Bubbly Color Changes */
@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/Display.css"); /* Bubbly Display Removal */
@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/Topbar.css"); /* Bubbly Topbar Changes */
@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/Tabbar.css"); /* Bubbly Tabbar Changes */
@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/Width.css"); /* Bubbly Width Changes */
@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/Height.css"); /* Bubbly Height Changes */
@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/Position.css"); /* Bubbly Position Changes */
@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/Margin.css"); /* Bubbly Margin Changes */
@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/Padding.css"); /* Bubbly Padding Changes */
@import url("https://heartlessaus.github.io/CSS-Snippets/BubblyCord/MaxWidth1200.css") (max-width: 1200px); /* Bubbly Padding Changes */


.toolbar-3_r2xA,
.content-1jQy2l,
.chat-2ZfjoI,
.sidebar-1tnWFu,
.chatContent-3KubbW,
.container-2o3qEW,
.panels-3wFtMD > :not(:last-child), 
.panels-3wFtMD > .wrapper-3Hk90B~div{
	overflow: hidden
}
.search-39IXmY{
	order: 99;
}
#cui-toolbar-container:hover,
.resizeHandle-PBRzPC{
	z-index: 10
}
.withTagAsButton-OsgQ9L, .withTagless-10ooWt,
.tutorialContainer-2jwoiB, 
.tutorialContainer-2jwoiB + .listItem-3SmSlK,
.tutorialContainer-1pL9QS, 
.tutorialContainer-1pL9QS + .listItem-3SmSlK,
.scroller-3X7KbA::before,
.ColorwaySelectorBtnContainer{
	z-index: 1;
}
.scroller-3X7KbA::after,
.lowerBadge-3j0ZAg {
    z-index: 0;
}



.nowPlayingColumn-1eCBCN{
	flex: none;
}
[aria-label="Thread header"] .children-3xh0VB{
	flex: 1 0 70%
}
[aria-label="Thread header"] .toolbar-3_r2xA{
	flex: 0 1 20%
}
.toolbar-3_r2xA{
	justify-content: flex-end;
}
.panels-3wFtMD .horizontal-1Piu5-:has( button[aria-label="Mute"]){
	justify-content: center;
}



[aria-label="Channels"]::after{
	content: "";
}
[aria-label="Channels"]::before{
	content: "\00a0";
}

.scroller-3X7KbA::after, .scroller-3X7KbA::before{
	content: "";
	pointer-events: none;
}

.search-39IXmY .search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {
  transition: 250ms;
}
.search-39IXmY .search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ .iconContainer-1RqWJj {
  transition: 250ms;
}


.offline-22aM7E {
    opacity: 1;
}
.offline-22aM7E .layout-1qmrhw {
    opacity: 0.3;
}
.animatedContainer-2laTjx[style*="transform: translateY(-90px)"]{
	opacity: 0.2 !important;
}


.scroller-hE2gWq{
	border-left: none
}