.wordmarkWindows-2dq6rw > svg {
    width: 16px;
	height: 16px;
	overflow: visible;
}
.wordmarkWindows-2dq6rw svg > g{
    scale: 0.2;
	transform-origin: -58px -32px;
}


.typeWindows-2-g3UY {
    margin-top: 0;
    padding: 4px;
    height: fit-content;
}
.typeWindows-2-g3UY > * {
    position: relative;
}


.winButton-3UMjdg {
    top: 0 !important;
    margin: -4px 0;
    height: 31px;
    width: 46px;
}
.winButtonClose-3Q8ZH5 {
    margin-right: -4px;
}



.wordmarkWindows-2dq6rw path:nth-child(3) {
    d: path("M433.847,0c-37.081,0-67.249,30.166-67.249,67.248s30.167,67.249,67.249,67.249  s67.248-30.167,67.248-67.249S470.927,0,433.847,0z") !important;
	fill: #FACE17;
}
.wordmarkWindows-2dq6rw path:nth-child(4) {
    d: path("M405.302,84.916c-9.758,0-17.669-7.91-17.669-17.669c0-25.482,20.731-46.212,46.214-46.212  c9.758,0,17.669,7.91,17.669,17.669s-7.91,17.669-17.669,17.669c-5.997,0-10.877,4.88-10.877,10.876  C422.97,77.006,415.06,84.916,405.302,84.916z") !important;
}
.wordmarkWindows-2dq6rw path:nth-child(5) {
    d: path("M382.793,246.826c-37.081,0-67.249,30.166-67.249,67.248c0,37.081,30.167,67.249,67.249,67.249  s67.249-30.167,67.249-67.249C450.041,276.993,419.873,246.826,382.793,246.826z") !important;
	fill: #9F56CC;
}
.wordmarkWindows-2dq6rw path:nth-child(6) {
    d: path("M354.248,331.742c-9.758,0-17.669-7.91-17.669-17.669c0-25.482,20.731-46.212,46.212-46.212  c9.758,0,17.669,7.91,17.669,17.669c0,9.758-7.91,17.669-17.669,17.669c-5.996,0-10.876,4.88-10.876,10.876  C371.916,323.832,364.006,331.742,354.248,331.742z") !important;
}
.wordmarkWindows-2dq6rw path:nth-child(7) {
    d: path("M262.905,47.382c-45.929,0-83.296,37.367-83.296,83.295s37.367,83.295,83.296,83.295  s83.295-37.367,83.295-83.295S308.835,47.382,262.905,47.382z") !important;
	fill:#EE8FBD;
}
.wordmarkWindows-2dq6rw path:nth-child(8) {
    d: path("M225.387,148.346c-9.758,0-17.669-7.91-17.669-17.669c0-30.429,24.756-55.186,55.186-55.186  c9.758,0,17.669,7.91,17.669,17.669s-7.91,17.669-17.669,17.669c-10.945,0-19.849,8.904-19.849,19.849  C243.056,140.436,235.145,148.346,225.387,148.346z") !important;
}